@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  /* Custom Colors */
  --color-orange: #FF7A00;
  --color-orangeHover: #E67300;
  --color-lightGrey: #0F172414;
  --color-gray: #6B7280;
  --color-textGray: #6B7280;
  --color-textLightGrey: #0F172414;
  --color-textOrange: #FF7A00;
  --color-textBlack: #0F1724;
  --color-red: #fb2c36  ;
  --color-darkRed: #B91C1C; 
  --color-lightRed: #FEF2F2;
 
  /* Input Backgrounds */
  --color-inputBg: #F5F6F8;
  --color-inputBgAlt: #EAF2FA;
  --color-iconBg: #FFF5EB;
  --color-primarydark: #0F1724;
}

@theme inline {
  --color-orange: var(--color-orange);
  --color-orangeHover: var(--color-orangeHover);
  --color-lightGrey: var(--color-lightGrey);
  --color-gray: var(--color-gray);
  --color-textGray: var(--color-textGray);
  --color-textLightGrey: var(--color-textLightGrey);
  --color-textOrange: var(--color-textOrange);
  --color-textBlack: var(--color-textBlack);
  --color-inputBg: var(--color-inputBg);
  --color-inputBgAlt: var(--color-inputBgAlt);
  --color-iconBg: var(--color-iconBg);
  --color-red: var(--color-red);
  --color-darkRed: var(--color-darkRed);
    --color-lightRed: var(--color-lightRed);
    --color-primarydark: var(--color-primarydark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
